.upvote {
  height: 3rem;
  width: 5rem;
  background-color: white;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;

  img {
    transition: filter 0.2s;
  }

  p {
    transition: color 0.2s;
    user-select: none;
  }

  &:hover {
    background-color: #ff3333;

    img {
      filter: invert(100%);
    }

    p {
      color: white;
    }
  }
}

.mode-picker p {
  cursor: pointer;
}

.category {
  background-blend-mode: multiply;
  transition: background-color 0.3s;

  h1 {
    color: rgba(0, 0, 0, 0);
    transition: color 0.3s
  }
}

.category:hover {
  background-color: rgba(0, 0, 0, .7);

  h1 {
    color: white;
  }
}

.react-autosuggest__container {
  position: relative;
  margin-left: 5rem;
}

.react-autosuggest__input {
  width: 8rem;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  transition: width 0.3s;
}

.react-autosuggest__input--focused {
  outline: none;
  width: 30rem;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 32.5rem;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 100px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
